<% if @case.status == "pending" && session[:id] == @case.cases_users[0].user_id %>
	<%= render partial: "previewcase" %>

<% elsif @case.status == "pending" && session[:id] == @case.cases_users[1].user_id %>
	<%= render partial: "/evidences/evidencebody" %>

<% elsif @case.status == "pending" %>
	<p> Case is not available yet.  Come back soon! </p>

<% elsif @case.status == "active" %>

  <%= render partial: "activecase" %>

<% elsif @case.status == "closed"  %>

  <%= render partial: "closedcase" %>

<% else %>

  <p> Hmm... didn't plan this scenario.</p>

<% end %>

