

<h3>Display of a specific case</h3>


<div>CASE TITLE</div>
<br/>
<div class="person1">Person 1's stuff goes here
<div class="video1">Video One</div>
<div class="argumentText1">Written Argument One</div>
</div>

<div class="person2">Person 2's stuff goes here
<div class="video2">Video Two</div>
<div class="argumentText2">Written Argument Two</div>
</div>

<div class="commentsBox">Comments</div>

<div>FEATURE TBI - SIDE MENU??</div>


