<header>
<%= link_to image_tag "iJurylogo_oneliner.png", {height: 100, action: 'welcome#index', alt: "iJury"} %>

<nav>
	<ul class="nav-login">
		<li>Log In</li>
		<li>Log Out</li>
		<li>Sign up</li>
	</ul>

	<ul class="nav-resources">
		<li>Home</li>
		<li>Cases</li>
		<li>Users</li>
	</ul>

</nav>

<h3>Dashboard for <em><%= @target_user[:user_name] %></em></h3>

</header>