.google-auth {
  margin-top: 20px;
  margin-bottom: 10px;
}

#whole_box {
  display: inline;
  height: 800px;
}
#create_process {
  background-image:url('dots.png');
}

#whole_box {
  display: inline;
}

#new_evidence_form {
    width: 500px;
    height: auto;
    margin: 10px auto;
    padding: 0 10px 0 10px;
    position: relative;
    color: #444;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#new_evidence_form textarea {
  height: 90px;
  width: 326px;
}

#new_evidence_header {
   display: block;
    height: 30px;
    line-height: 1.3;
    width: 510px;
    margin: 0 auto;
    padding: 5px 10px;
    position: relative;
    left: -16px;
    top: 8px;
    color: #cfcfcf;
    text-shadow: 0 1px 1px #111;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #202020;
    background: #333;
    background: linear-gradient(top, #383838 0%, #262626 100%);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

body {
  width: 100%;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 1px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 1px 0px rgba(50, 50, 50, 0.75);
  background-image:url('dots.png');

}
#header_top_main {
  /*border-bottom: 20px solid black;*/
  width: 100%;
  background-image:url('dots.png');
  height: 3.8em;
}

#body_middle_main {
  background-image:url('dots.png');
}

#footer_bottom_main {
  background-color: #E3E3E3;
  clear:both;
}


/*header css*/
/*starts here*/

#navigation {
  display: inline;

}

#header_left {
  width: 16em;
  float:left;
}

#logo_img {
  float:left;
}

#header_right {
  float:right;
}

#sign_in {
}

#su_trigger {
  font-size: 11px;
}

#sign_up_trigger {
  float:right;
}

#slogan {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

#sign_up_box {
  z-index: 1;
  display: none;
  padding-top: 10px;
  margin-left: 180px;
  margin-top: 34px;
  height: 150px;
  width: 150px;
  background-color: white;
  border:1px solid #DDDDE0;
  position: absolute;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.75);
}

#sign_up_box:before {
    z-index: 10;
    content: "";
    position: absolute;
    top: -5.0px;
    left:110px;
    height:10px;
    width:10px;
    background:white;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    border-top: 1px solid #DDDDE0;
    border-left: 1px solid #DDDDE0;


}


/*This is dashboard CSS*/

#cool_pic {
  width: 100%;
  height: 13em;
  position: relative;
  /*background-image:url('cool_pix.jpg');*/
  /*background-position: right 20px center;*/
  /*background-repeat:no-repeat;*/
  /*background-size: 80px 60px;*/
  background-image:url('wood.jpg');
}

#main_logo {
  margin: 0 auto;
  z-index: 99999;
  width: 20em;
}

#active_cases_header {
  background-color: black;
}

.cases_ribbon {
  color:white;
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}

.cases_count_ribbon {
  position: relative;
  font-size: 13px;
  background-color: red;
  color: white;
  -webkit-box-shadow: 0px 2px 4px #888;
  -moz-box-shadow: 0px 2px 4px #888;
  box-shadow: 0px 2px 4px #888;
  padding: 3px 20px 3px 30px;
  margin: 30px 8px 10px -7px;

}

.cases_count_ribbon:after
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 1px;
  top: 21px;
  border-width: 4px 3.98px;
  border-style: solid;
  border-color: #666 #666 transparent transparent;
}

.cases_count_ribbon:before
{
  background-image:url('dots.png');
  content: ' ';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -9px;
  top: 1.8px;
  border: transparent;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

/* Dashboard for users */

#welcome_msg {
  font-size: 13px;
  margin-right: 10px;
}

.case_list_container {
  list-style-type: none;
  margin-left: -2.5em;
}


.case_list_item {
  border:1px solid #666666;
  border-radius: 10px;

}

.case_list_item:nth-child(odd) {
  background-color: #D09B9E;
}
.case_list_item:nth-child(even) {
  background-color: #FFF4E7;
}

.case_title_list {
  font-family: 'Fjalla One', sans-serif;
  font-size: 28px;

}

.case_names_list {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.case_status_list {
  font-family: 'Cantarell', sans-serif;
}


.case_list_item a {
  color:#E0E0E0;
  text-decoration: none;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

.case_list_item a:visited {
  text-decoration: none;
  color:#E0E0E0;
}

.case_list_item a:hover {
  color:red;
}

.dashboard-alerts {
  width: 350px;
    margin: 10px auto;
    padding: 0 10px 0;
    position: relative;
    color: #444;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#alert_header {
   display: block;
    height: 30px;
    line-height: 1.3;
    width: 360px;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    left: -16px;
    top: 8px;
    color: #cfcfcf;
    text-shadow: 0 1px 1px #111;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #202020;
    background: #333;
    background: linear-gradient(top, #383838 0%, #262626 100%);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}


#alert_header::before,
#alert_header::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -11px;
    z-index: -10;
    border: 5px solid;
    border-color: #242424 transparent transparent transparent;
}
#alert_header::before {left: 0;}
#alert_header::after {right: 0;}




.dashboard-alerts img {
  width: 8px;
  height: 8px;
  float:right;
  margin-right: 20px;
  margin-top: 2px;
}

#alert_list li{
  list-style-type: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bolder;
  font-size: 12px;
}

#create_slogan {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}





.cases_create {
}



#create_case_btn {
  border: 1px solid black;
  margin: 0 auto;
  display: block;
  width: 360px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
#create_case_btn:hover {
  border: 1px solid red;
  color: red;
}
#create_case_btn:active {

}



/* beginning of create a new case area */
#box_for_logged_inners {
}

#create_case_box {
  height: auto;
  width: 350px;
  margin: 20px auto;
  padding: 0 10px 0;
  position: relative;
  color: #444;
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#new_case_title {
  display: block;
  height: 30px;
  line-height: 1.3;
  width: 360px;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  left: -16px;
  top: 8px;
  color: #cfcfcf;
  text-shadow: 0 1px 1px #111;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #202020;
  background: #333;
  background: linear-gradient(top, #383838 0%, #262626 100%);
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

#create_case_form {
  display: inline;

}

#create_case_form input {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 200px;
}

#create_case_form textarea {
  width:200px;
  height: 60px;
}

#case_form_div {
  margin: 0 auto 0 75px;
  margin-top: 20px;
  width: 145px;
  /*margin: 20px auto 0 auto;*/
}
/* This button was generated using CSSButtonGenerator.com */


/***************************************************************/
/***************************************************************/
/**************  The following is CSS styling for  *************/
/**************       the cases/show page          *************/
/***************************************************************/
/***************************************************************/


#case_heading{
  margin: auto;
  text-align: center;
  height: auto;
  width: 490px;
  margin: 20px auto;
  padding: 0 10px 0;
  position: relative;
  color: #444;
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}



.countdown-timer{
  margin: 0 auto;
  width: 250px;
}

.case_title {
font-weight: bold;
text-align: center;
font-size: 30px;
color: black;
width: 92%;
padding: 10px;

display: block;
    height: 30px;
    line-height: 1.3;
    width: 510px;
    margin: 0 auto;
    padding: 5px 10px;
    position: relative;
    left: -16px;
    top: 8px;
    color: #cfcfcf;
    text-shadow: 0 1px 1px #111;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #202020;
    background: #333;
    background: linear-gradient(top, #383838 0%, #262626 100%);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.case_summary {
  text-align: center;
  font-size: 20px;
  color: black;
  width: 92%;
  display: block;
  margin: auto;
}

.both_people {
  background-color: red;
}

.person1 {
  height: 525px;
  color: black;
  width: 46%;
  float: left;
  margin: auto 5px;
}

.person1 p {
  text-align: center;
}

.person2 {
  height: 525px;
  color: black;
  width: 46%;
  float: right;
  margin: auto 5px;
}

.person2 p {
  text-align: center;
}

.video-thumbnail {
  margin: auto;
}

.argumentText1 {
  height: 150px;
  margin: 15px auto;
  text-align: center
}

iframe {
  margin: auto;
  display: block;
}

.argumentText2 {
  height: 150px;
  margin: 15px auto;
  text-align: center;
}

.vote-plaintiff {
  display: block;
  margin: 5px;
}

.vote-defendant {
  display: block;
  margin: 5px;
}

.vote-plaintiff-button {
  text-align: center;
}

.vote-defendant-button {
  text-align: center;
}

.commentsBox {
  width: 300px;
  margin: auto;
  display: block;
  color: black;
  clear:both;
}

p {
  color:black;

}



#comment_section {
  background-color: #EFEFF2;
}

.comments_bundle {
  display: inline;
  clear:both;
}

#commentslist{

}

#case_details {
  background-color: black;
  font-size: 20px;
  color:white;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
  clear:both;
}