// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.person1 {
  width: 40%;
  height: 500px;
  border: solid black 2px;
  margin-left: 50px;
  display: inline;
  float: left;
}

.person2 {
  width: 40%;
  height: 500px;
  border: solid black 2px;
  margin-left: 50px;
  display: inline;
  float: left;
}

.video1 {
  width: 90%;
  height: 200px;
  border: solid black 2px;
  margin: 5px;

}

.video2 {
  width: 90%;
  height: 200px;
  border: solid black 2px;
  margin: 5px;

}

.argumentText1 {
  width: 90%;
  height: 200px;
  border: solid black 2px;
  margin: 5px;
}

.argumentText2 {
  width: 90%;
  height: 200px;
  border: solid black 2px;
  margin: 5px;
}

.commentsBox {
  width: 100%;
  height: 250px;
  text-align: center;
  border: black solid 2px;
  float: left;
  margin: 5px;
}

#casefooter {
margin-bottom: 0 px;

}