// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.person1 {
  width: 40%;
  height: 500px;
  border: solid black 2px;
  margin-left: 50px;
  display: inline;
  float: left;
}

.person2 {
  width: 40%;
  height: 500px;
  border: solid black 2px;
  margin-left: 50px;
  display: inline;
  float: left;
}

.video1 {
  width: 90%;
  height: 200px;
  border: solid black 2px;
  margin: 5px;

}

.video2 {
  width: 90%;
  height: 200px;
  border: solid black 2px;
  margin: 5px;

}

.argumentText1 {
  width: 90%;
  height: 200px;
  border: solid black 2px;
  margin: 5px;
}

.argumentText2 {
  width: 90%;
  height: 200px;
  border: solid black 2px;
  margin: 5px;
}

.commentsBox {
  text-align: left;
  border: black solid 2px;
  float: left;
  margin: 5px;
  margin-bottom: 100px;
}

#casefooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  border-top: solid black 3px;
  background-color: white;
}